<!-- app/views/users/dashboard/index.html.erb -->
<div class="container py-5">
  <h1 class="text-center mb-5 text-light">User Dashboard</h1>

  <%= render "account", user: current_user %>

  <% if @account.present? %>
    <%= turbo_frame_tag "subscription" do %>
      <%= render "subscription", account: @account %>
    <% end %>

    <%= turbo_frame_tag "projects" do %>
      <%= render "projects", projects: @projects, account: @account %>
    <% end %>

    <%= turbo_frame_tag "plans" do %>
      <%= render "plans", plans: @plans, account: @account %>
    <% end %>
  <% else %>

      <%= turbo_frame_tag "subscription" do %>
      <%= render "subscription", account: @account %>
    <% end %>

    <%= turbo_frame_tag "projects" do %>
      <%= render "projects", projects: @projects, account: @account %>
    <% end %>
    <%= turbo_frame_tag "plans" do %>
      <%= render "plans", plans: @plans, account: nil %>
    <% end %>
  <% end %>
</div>