<header class="navbar navbar-dark bg-dark navbar-expand-lg shadow-sm" data-controller="header">
  <div class="container-fluid">

    <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
      <span class="h5 mb-0">BetterWebCo</span>
    <% end %>

    <!-- Modern toggle -->
    <button 
      class="navbar-toggler border-0"
      type="button"
      aria-label="Toggle navigation"
      data-header-target="toggler"
      data-action="header#toggleMenu">

      <!-- 3 lines -->
      <span data-header-target="openIcon">☰</span>

      <!-- X icon -->
      <span class="d-none" data-header-target="closeIcon">✕</span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav" data-header-target="menu">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Our Services", static_pages_our_services_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Our Process", static_pages_our_process_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Contact Us", new_customer_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Faq's", static_pages_search_path, class: "nav-link" %>
        </li>
        <%= render "partials/devise_links" %>
      </ul>
    </div>

  </div>
</header>
